@font-face {
  font-family: 'thai_sans_literegular';
  src: url('../fonts/thaisanslite_r1-webfont.eot');
  src: url('../fonts/thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisanslite_r1-webfont.woff2') format('woff2'), url('../fonts/thaisanslite_r1-webfont.woff') format('woff'), url('../fonts/thaisanslite_r1-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'THSarabunNew';
  src: url('../fonts/thsarabunnew-webfont.eot');
  src: url('../fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thsarabunnew-webfont.woff') format('woff'), url('../fonts/thsarabunnew-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'THSarabunNew';
  src: url('../fonts/thsarabunnew_bolditalic-webfont.eot');
  src: url('../fonts/thsarabunnew_bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thsarabunnew_bolditalic-webfont.woff') format('woff'), url('../fonts/thsarabunnew_bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'THSarabunNew';
  src: url('../fonts/thsarabunnew_italic-webfont.eot');
  src: url('../fonts/thsarabunnew_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thsarabunnew_italic-webfont.woff') format('woff'), url('../fonts/thsarabunnew_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'THSarabunNew';
  src: url('../fonts/thsarabunnew_bold-webfont.eot');
  src: url('../fonts/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thsarabunnew_bold-webfont.woff') format('woff'), url('../fonts/thsarabunnew_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888f91;
}
img {
  max-width: 100%;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #2596c1;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
p.indent{
   text-indent: 1.5em;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #2596c1;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #1d7596;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'thai_sans_literegular';
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.dropdown-menu {
  background-color: #222;
}
.dropdown-menu > li > a {
  font-size: 18px !important;
}
.dropdown-menu > li > a:hover {
  background-color: transparent;
}
.btn-primary {
  color: white;
  background-color: #2596c1;
  border-color: #2596c1;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1d7596;
  border-color: #1b6e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2596c1;
  border-color: #2596c1;
}
.btn-primary .badge {
  color: #2596c1;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #2596c1;
  border-color: #2596c1;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #1d7596;
  border-color: #1b6e8e;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #2596c1;
  border-color: #2596c1;
}
.btn-xl .badge {
  color: #2596c1;
  background-color: white;
}
.navbar-default {
  background-color: #222222;
  border-color: transparent;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-default .navbar-brand {
  color: #2596c1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #1d7596;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #2596c1;
  border-color: #2596c1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2596c1;
}
.navbar-default .nav li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  border-top: 3px solid transparent;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #2596c1;
  outline: none;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 40px;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: transparent;
  border-top: 3px solid #2596c1;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-table;
  }
  .navbar-default .navbar-brand img {
    height: 50px;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0px;
  }
  .navbar-default.navbar-shrink {
    background-color: #222222;
    padding: 0px ;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default.navbar-shrink .navbar-brand img {
    height: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default.navbar-shrink .navbar-nav > li > a {
    padding-top: 15px;
  }
}
header {
  background-image: url('../img/header-bg.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .container {
  height: 100%;
}
header .intro-text {
  padding-top: 50px;
  padding-bottom: 50px;
  display: table;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  display: table-cell;
  vertical-align: middle;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading h1 {
  text-shadow: 2px 2px 1px #000000;
  text-transform: none;
  font-size: 100%;
  font-family: tahoma;
}
header .intro-text .intro-heading h2 {
  text-shadow: 2px 2px 1px #000000;
  text-transform: none;
  margin-top: 0px;
}
header .intro-text .intro-heading img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}
@media (min-width: 768px) {
  header .intro-text {
    /*padding-top: 25%;
			padding-bottom: 200px;*/
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
  header .intro-text .intro-heading img {
    left: 30%;
  }
}
section {
  padding-top: 200px;
  padding-bottom: 50px;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 50px;
}
section h2.section-heading img {
  height: 25px;
  margin-bottom: 5px;
  margin-right: 3px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
section .section-detail {
  color: #888F91;
  margin-bottom: 30px;
}
section .section-detail span {
  color: #fff;
}
@media (min-width: 768px) {
  section {
    padding-top: 200px;
    padding-bottom: 50px;
  }
}
.services {
  background-color: #262F32;
}
.services .container .btn-success {
  padding: 20px;
  font-size: 20px;
}
.services .container .btn-success span {
  color: #255C35;
  font-size: 12px;
}
.services .container .row div.services-container {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 40px;
  text-align: center;
}
.services .container .row div.services-container .border {
  border: 2px solid #45565C;
  border-radius: 5px;
  padding: 10px;
}
.services .container .row div.services-container .border h4 {
  color: #2596c1;
  font-size: 20px;
  font-weight: 300;
}
.services .container .row div.services-container .border p.text-muted {
  color: #888F91;
  font-size: 13px;
  height: 90px;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#whyus {
  background-color: #42575E;
  padding-top: 50px;
}
#whyus .section-heading {
  color: #fff;
  font-weight: bold;
}
#whyus .whyus-img {
  margin-top: 20px;
  padding-right: 0px;
  text-align: center;
}
#whyus .whyus-heading {
  color: #65CD81;
  text-transform: capitalize;
  text-align: left;
  font-size: 25px;
}
#whyus .text-muted {
  color: #fff;
  text-align: left;
  line-height: 1.4;
}
.hosting.server {
  background-color: #F4F7FA;
}
.hosting.dicate {
  background-color: #EAEFF3;
}
.hosting {
  padding-top: 100px;
}
.hosting .section-heading {
  color: #000;
  margin: 0px;
  font-weight: bold;
}
.hosting .tabs-container {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.hosting .tabs-container .nav-center {
  text-align: center;
  display: inline-flex;
}
.hosting .tabs-container .nav-center .nav-tabs {
  border: none;
  width: 100%;
  text-align: center;
}
.hosting .tabs-container .nav-center .nav-tabs li a {
  padding: 20px;
  background-color: #D6E0E3;
}
.hosting .tabs-container .nav-center .nav-tabs li a img {
  height: 14px;
}
.hosting .tabs-container .nav-center .nav-tabs li a img.server {
  height: 35px;
  margin-right: 10px;
}
.hosting .tabs-container .nav-center .nav-tabs li.vps a {
  padding: 15px;
}
.hosting .tabs-container .nav-center .nav-tabs li.active a {
  background-color: #42575E;
  color: #fff;
  margin-right: 1px;
}
.hosting .panel-info {
  border-color: #ccc;
  font-family: tahoma;
}
.hosting .panel-info .recommend {
  background-color: #F0BA00;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -38px;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  padding-bottom: 50px;
}
.hosting .panel-info .panel-heading {
  background-color: #2668A6;
  border-color: #ccc;
  position: relative;
}
.hosting .panel-info .panel-heading h3 {
  margin: 10px 0 0 0;
  color: #6EC1E0;
  text-transform: capitalize;
  font-family: tahoma;
  font-weight: 300;
  letter-spacing: 1px;
}
.hosting .panel-info .panel-heading h2 {
  color: #fff;
  margin: 0 0 10px 0;
  font-family: tahoma;
  font-weight: 300;
  font-size: 25px;
}
.hosting .panel-info .panel-heading h2 span {
  color: #6CA1D2;
  font-size: 15px;
}
.hosting .tab-pane {
  padding-top: 30px;
}
.hosting .tab-pane .free-host {
  width: 100%;
}
.hosting .tab-pane .free-host img {
  width: 100%;
}
.hosting .tab-pane .content-host {
  padding-bottom: 50px;
  text-align: center;
}
.hosting .panel {
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.hosting .panel .panel-body .list-unstyled li {
  padding-top: 5px;
}
.hosting .panel:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
  transform: scale(1.1);
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(37, 150, 193, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (max-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
  .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0px;
  }
  .navbar-brand img {
    height: 45px;
    margin-top: 4px;
    margin-left: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-default .navbar-nav li > a {
    padding-top: 10px;
  }
  .navbar-default .navbar-nav .active > a {
    color: #2596c1;
  }
  section {
    padding-top: 70px;
  }
  section h2.section-heading {
    margin-bottom: 10px;
  }
  .hosting {
    padding-top: 70px;
  }
  .hosting .nav-tabs li {
    width: 100%;
  }
  .logo-footer {
    padding: 30px;
  }
  .services-container > .border {
    height: 320px;
  }
  .panel-info.rec {
    margin-top: 40px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #2596c1;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (max-width: 568px) {
  .navbar-default .navbar-brand a {
    padding: 0px;
  }
  .navbar-default .navbar-brand a img {
    width: 65px;
    margin-left: 10px;
    margin-top: 2px;
  }
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  #whyus .whyus-img {
    text-align: right;
  }
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.support {
  background-color: #2668A6;
  padding-top: 50px;
  padding-bottom: 50px;
}
aside.support .container .row div p.support-detail {
  font-size: 24px;
  line-height: 1.2;
  color: #99BFE5;
  font-width: 300;
}
aside.support .container .row div .group {
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  color: #FFFEFE;
}
aside.support .container .row div .group img {
  margin-right: 10px;
}
section#contact {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #2596c1;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}
section#client {
  background-color: #fff;
  padding-bottom: 10px;
  padding-top: 0px;
}
section#client h2 {
  color: #000;
  text-align: center;
}
section#client img {
  max-height: 80px;
}
footer {
  border-top: 2px solid #2E3A3E;
  padding: 25px 0;
  text-align: center;
  background-color: #262F32;
}
footer .logo-footer {
  padding: 30px;
}
footer .social-footer {
  padding-top: 50px;
}
footer .social-footer li{
  padding-top: 10px;
}
footer h2 {
  font-weight: bold;
  color: #fff;
}
footer h4 {
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}
footer address {
  color: #fff;
}
footer address h4 {
  margin: 0px;
}
footer address p {
  margin: 0px;
  line-height: 1.4;
}
footer address p a b {
  color: #fff;
  font-weight: 500;
}
footer span.copyright {
  line-height: 40px;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-family: inherit;
  font-size: 11px;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer .list-blog li a {
  color: #888f91;
  font-family: "thai_sans_literegular", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #2596c1;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #2596c1;
}
::selection {
  text-shadow: none;
  background: #2596c1;
}
img::selection {
  background: transparent;
  max-width: 100%;
}
img::-moz-selection {
  background: transparent;
  max-width: 100%;
}
.black{ color: #000;}
.m-top40 { margin-top: 40px}
body {
  webkit-tap-highlight-color: #2596c1;
}